@import "variables";
@import "mixins";
@import "functions";

.card {
  width: half-width($container-width);
  border-radius: 10px;
  overflow: hidden;
  @include box-shadow(20px);
  @include transition(0.4s);
  cursor: pointer;
  margin: 50px auto;
  img {
    width: 100%;
    height: auto;
    display: block;
  }

  .card-content {
    padding: 20px;
    text-align: center;

    .card-title {
      font-size: 1.5rem;
      color: $text-color;
      @include margin(bottom, 10);
    }

    .card-description {
      font-size: 0.95rem;
      color: darken($text-color, 20%);
      @include margin(bottom, 20);
    }
  }

  &:hover {
    transform: scale(1.03);
    @include box-shadow(30px);
  }
}

// ===== number functions in sass =====
// padding: ceil(5.9);
// padding: floor(2.9);
// padding: round(2.4);
// padding: max(1px, 4px);
// padding: min(2px, 4px);
// padding: percentage(0.76);
// padding: comparable(11cm, 44mm);
// padding: random(10px);
// padding: unit(10rem);
// padding: unitless(10);

// ===== string funcions in sass =====
// font-family: quote(Poppins);
// font-family: unquote("Poppins");
// font-family: to-upper-case("Poppins");
// font-family: to-lower-case("POPPINS");
// font-family: str-length("POPPINS");
// font-family: str-index("Helvitica Neue", "Neue");
// font-family: str-insert("Helvitica Neue", " Mono", 15);
// font-family: str-slice("Helvitica Neue", 11);
// font-family: unique-id();

// ===== color functions in sass =====
// background-color: $card-bg;
// background-color: darken($card_white_bg, 10);
// background-color: lighten($primary-color, 34);
// background-color: adjust-hue($primary-color, 355);
// background-color: saturate($primary-color, 100);
// background-color: desaturate($primary-color, 90);
// background-color: mix($primary-color, blue, 50);
// background-color: transparentize($primary-color, 0.8);

// ===== list functions in sass =====
// $list: [10px 20px 30px 40px];
// $list2: 50px, 60px, 70px, 80px;
// padding: length($list);
// padding: nth($list, 3);
// padding: set-nth($list, 2, 23rem);
// padding: join($list, $list2, comma);
// padding: append($list, 11px, comma);
// padding: zip($list, $list2);
// padding: index($list, 300px);
// padding: list-separator($list2);
// padding: is-bracketed($list2);

// ===== selectors in sass =====
// $selector: selector-nest("ul", "li");
// $selector: selector-append(".acb,", "_active");
// $selector: selector-replace("a.abc.extra", ".extra", ".sohan");
// $selector: is-superselector("a", "nav a");
// $selector: simple-selectors("a.sohan");
// $selector: selector-unify("a.active", "a.deactive");
// $selector: selector-unify("a.active", "a.deactive");
// $selector: selector-extend("a.active", "a", "deactive");
// #{$selector} {
//   width: 10px;
// }

// ===== map in sass =====
// $font-weight: (
//   "thin": 100,
//   "light": 300,
//   "regular": 400,
//   "medium": 500,
//   "bold": 700,
//   "black": 900,
// );
// $light_weight: (
//   "thin": 100,
//   "light": 300,
//   "regular": 400,
//   "medium": 500,
//   "bold": 700,
//   "black": 900,
// );
// $bold_weight: (
//   "medium": 500,
//   "bold": 700,
//   "black": 900,
// );

// $map_merge: map-merge($light-weight, $bold-weight);
// $map_mr: map-remove($light_weight, "bold");

// .test {
//   font-weight: map-get($font-weight, "thine");
//   font-weight: map-keys($font-weight);
//   font-weight: map-values($font-weight);
//   font-weight: map-has-key($light_weight, "thin");
// }

// ===== Introspection in sass =====
// $cha: "Arial";
// $list: 10px 33px 55px;
// $map: (
//   "regular": 400,
//   "medium": 500,
// );
// $num: 22px;

// @mixin border_radius($radius) {
//   border-radius: $radius;
// }

// @function adds($a, $b) {
//   @return $a + $b;
// }

// .test {
//   padding: variable-exists(num);
//   padding: global-variable-exists(num);
//   padding: mixin-exists(border_radiuss);
//   padding: function-exists(adds);
//   padding: type-of(map);
//   padding: inspect(num);
// }

// ===== Content directives in sass =====

// use case 1
// @mixin border_radius($radius) {
//   --webkit-border-radius: $radius;
//   --moz-border-radius: $radius;
//   border-radius: $radius;
//   @content;
// }

// .abc {
//   @include border_radius(10px) {
//     border-style: solid;
//   }
// }

// use case 2
// @mixin test {
//   #menu {
//     @content;
//   }
// }
// @include test {
//   .block {
//     color: green;
//   }
// }

// use case 3
// @mixin hover {
//   &:hover {
//     @content;
//   }
// }
// .button {
//   border: 1px solid black;
//   @include hover {
//     border-width: 2px;
//   }
// }

body {
  background-color: grey;
}

// mixin media
@mixin media($breakpoint) {
  @media screen and (max-width: $breakpoint) {
    @content;
  }
}

@include media(1300px) {
  body {
    background-color: red;
  }
}

@include media(1000px) {
  body {
    background-color: green;
  }
}

@include media(800px) {
  body {
    background-color: blue;
  }
}
